html,
body {
    height: 100%;
    margin: 0;
}

.main_body {
    height: 100vh;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}

.main_header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.cart_button {
    position: absolute;
    color: #333;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 2rem;
}

.cart_button:hover,

.cart_button:focus {
    color: #333;
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Alineación vertical centrada */
    width: 100%;
    max-width: 450px;
    min-height: 300px;
    height: 100%;
    margin-top: 20px;
    max-height: 500px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .product_image {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

@media (min-width: 768px) {
    .product_grid {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas en dispositivos de escritorio */
    }
}

@media (max-width: 767px) {
    .product_grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en dispositivos móviles */
    }
}